version: '3.8'

services:
  documind:
    build: .
    container_name: documind-enterprise
    ports:
      - "8000:8000"
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    volumes:
      # Persistencia de documentos subidos
      - documind_docs:/app/docs
      # Persistencia de los índices de la IA (Vectores)
      - documind_embeddings:/app/embeddings
      # Persistencia de transcripciones de audio/video
      - documind_transcripts:/app/transcripts
      # Persistencia de la Base de Datos SQLite (Historial y Configuración)
      - documind_data:/app/data
    restart: always

volumes:
  documind_docs:
  documind_embeddings:
  documind_transcripts:
  documind_data:

networks:
  default:
    name: documind-network
